REPO=space-wizards/space-station-14
BRANCH=master
CHANGELOG_REPO_PATH=Resources/Changelog
EXTRA_CATEGORIES=Admin,Maps,Rules
GITHUB_TOKEN=in workflows this will be secrets.GITHUB_TOKEN
DISCORD_WEBHOOK=url to discord webhook for posting changelogs to a channel
MAX_GRAPQHL_PAGES=50 # how many pages of graphql results to go through. If you hit this wtf are you doing
